


<div class="m-5">
  <div class="container">
    <label for="idInput" class="form-label">id</label>
    <input [(ngModel)]="id" type="number" class="form-control" (input)="inputData()" id="idInput"  >
    <label for="nameInput" class="form-label">Name</label>
    <input [(ngModel)]="name"  type="email" class="form-control"  (input)="inputData()"  id="nameInput" (blur)="clearInput()" >
  </div>
</div>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of data ;let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{x.userName}}</td>
        <td>{{x.Age}}</td>
        <td>{{x.email}}</td>
      </tr>
    </tbody>
  </table>

</div>
